{% extends 'base.html' %}

{% block title %}
<div class="modal-header">
    <h5 class="modal-title">Удаление получателя</h5>
    <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
</div>
{% endblock %}

{% block content %}
<div class="modal-body">
    <form method="post" enctype="multipart/form-data" action="{% url 'recipients:delete_recipient' object.pk %}">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary text-white cursor-pointer mx-2" href="{% url 'recipients:recipients' %}">Отмена</a>
            <button class="btn btn-danger text-white cursor-pointer" type="submit">Удалить</button>
        </div>
    </form>
</div>
{% endblock %}