{% extends 'base.html' %}

{% block content %}

<div class="modal-header">
    <h5 class="modal-title">Редактировать рассылку</h5>
</div>
<div class="modal-body">
    <form method="post" enctype="multipart/form-data" action="{% url 'mailing:update_mailing' object.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="justify-content-end d-flex">
            <a class="btn btn-primary text-white cursor-pointer mx-2" href="{% url 'mailing:mailing' %}">Отмена</a>
            <button class="btn btn-primary text-white cursor-pointer" type="submit">Редактировать</button>
        </div>
    </form>
</div>
{% endblock %}