{% extends 'base.html' %}

{% block content %}
{% load split_fullname %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Профиль</h3>
</div>
<p>Имя: {{ user.first_name|split_fullname }}</p>
<p>Фамилия: {{ user.last_name|split_fullname  }}</p>
<p>Email: {{ user.email }}</p>
<p>Аватар: {{ user.avatar }}</p>
<p>Телефон: {{ user.phone_number }}</p>
<p>Страна: {{ user.country }}</p>
<a href="{% url 'users:profile_edit' %}">Редактировать профиль</a>
<a href="{% url 'main:base' %}">На главную<a>
{% endblock %}